body {
  background: #f8f8f8;
}

.container {
  margin: 20px auto;
}
.modules {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border: 2px solid #9ea3a8;
}

.modules .module {
  background: #14bdee;
  width: 30%;
  height: 200px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.modules .module:hover {
  box-shadow: 0px 13px 8px rgba(29, 34, 47, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .dashicons {
  line-height: inherit;
}

.test-block {
  background: #ffffff;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #9ea3a8;
}

.ielts-test label {
  font-weight: bold;
}

.ielts-test .sections-block {
  margin: 30px 0;
}

.ielts-test .card {
  padding: 0;
  max-width: none;
}

.ielts-test .sections-block .options-block button {
  margin: 10px 0;
}

.ielts-test .borderless td,
.borderless th {
  border: none;
}

.ielts-test .dashicons-no {
  color: red;
}

.ans-block {
  margin: 10px 0;
}

.section-title {
  margin: 20px 15px;
}

.ielts-test .title {
  text-transform: capitalize;
}

.ar-lists-table thead {
  background: #14bdee;
}

.ar-lists-table {
  background: #ffffff;
}

.ar-lists-table th {
  text-transform: uppercase;
}

.ar-lists-table td {
  text-transform: capitalize;
}
.btn-olive {
  background: #b5cc18;
  border: none;
}

.btn-orange {
  background: #cf590c;
  border: none;
  color: #ffffff;
}
